body {
  background-color: rgb(255, 255, 255);
}
.titulo{
  padding-top: 10px;
  text-align: center;

}
.geral{ 
background-color: rgb(79, 132, 219);
width: 30%;
height: 60%;
border-radius: 20px 30px 40px 20px;
margin-left: 35%;
text-align: center;
border-bottom: 10px solid rgb(64, 121, 214);

  
}

.empurrar{
  margin-bottom: 20px;
}

.titulo2{
  padding-top: 40px;
  margin-top: 30%;
  text-align: center;
}

.txtemail{
  margin-left: 1px;

}

.email{
  margin-top: 50px;
  width: 40%;
  height: 50px;
  border-radius: 7px 7px 7px 7px;
  border-bottom: 4px solid rgb(0, 98, 255);
  border-top:4px solid rgb(0, 98, 255) ;
  border-left:4px solid rgb(0, 98, 255) ;
  border-right:4px solid rgb(0, 98, 255) ;
}

.senha{
  margin-top: 30px;
  margin-bottom: 20px;
  width: 40%;
  height: 50px;
  border-radius: 7px 7px 7px 7px;
  border-bottom: 4px solid rgb(0, 98, 255);
  border-top:4px solid rgb(0, 98, 255) ;
  border-left:4px solid rgb(0, 98, 255) ;
  border-right:4px solid rgb(0, 98, 255) ;
}
.senha2{
  margin-top: 30px;
  margin-bottom: 50px;
  width: 40%;
  height: 50px;
  border-radius: 7px 7px 7px 7px;
  border-bottom: 4px solid rgb(0, 98, 255);
  border-top:4px solid rgb(0, 98, 255) ;
  border-left:4px solid rgb(0, 98, 255) ;
  border-right:4px solid rgb(0, 98, 255) ;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');




.button {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #1100ff;
  border-radius: 10px 10px 10px 10px;
  outline: none;
  transition: 1s ease-in-out;
  margin-bottom: 50px;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;

  transition: 1s ease-in-out;
}

.button:hover {
  transition: 0.2s ease-in-out;
  background: rgb(37, 98, 183);
}

.button:hover svg {
  stroke-dashoffset: -480;
}

.button span {
  color: rgb(81, 0, 255);
  font-size: 18px;
  font-weight: 100;
}


  