body {
  background-color: rgb(241, 242, 241);
}
.titulo{
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 50%;
    width: 50%
  }

  to {
    margin-left: 0%;
    width: 50%;
  }
}
.geral{
background-color: rgb(219, 223, 219);
width: 30%;
height: 60%;
border-radius: 20px 30px 40px 20px;
margin-left: 35%;
text-align: center;
border-bottom: 10px solid rgb(238, 236, 236);
  
}

.empurrar{
  margin-bottom: 20px;
}

.titulo2{
  margin-top: 30%;
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 1100%;
    width: 100%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.txtemail{
  margin-left: 1px;
}

.email{
  margin-top: 50px;
  width: 40%;
  height: 50px;
  
}
.txtsenha{



}
.senha{
  margin-top: 30px;

  width: 40%;
  height: 50px;

}
.senha2{
  margin-top: 30px;
  margin-bottom: 50px;
  width: 40%;
  height: 50px;

}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');




.button {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #5a5a5a;
  outline: none;
  transition: 1s ease-in-out;
  margin-bottom: 50px;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;

  transition: 1s ease-in-out;
}

.button:hover {
  transition: 1s ease-in-out;
  background: rgb(236, 239, 236);
}

.button:hover svg {
  stroke-dashoffset: -480;
}

.button span {
  color: rgb(99, 99, 99);
  font-size: 18px;
  font-weight: 100;
}


  